html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
    font:14px/1.5 "PingFang SC", "微软雅黑", "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
}
.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 14px;
}
.el-table{
    margin-top: 20px;
    font-size: 14px;
}